@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #242424;
  --color-purple-light: #646cff;
  --color-purple: #535bf2;
  --color-white-rgba: 255, 255, 255, 0.7;
}

body {
  width: 100vw;
  height: 100vh;
  color: rgba(var(--color-white-rgba));
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
