@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #242424;
  --modal-background-color: #383d43;
  --color-purple-light: #646cff;
  --color-purple: #535bf2;
  --color-white-rgba: 255, 255, 255, 0.7;
  --color-darkgray: #505050;
  --color-notice-border: rgba(217, 119, 6, 0.8);
  --color-notice: rgba(217, 119, 6, 0.3);
  --color-slower: rgba(57, 30, 26, 1);
  --color-faster: rgba(35, 44, 11, 1);
}

body {
  width: 100vw;
  height: 100vh;
  color: rgba(var(--color-white-rgba));
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-purple {
  color: var(--color-purple);
}

.text-xxs {
  font-size: 0.625rem;
}

.btn-purple {
  @apply bg-[var(--color-purple)] text-white;
}

.btn-purple-light {
  @apply bg-[var(--color-purple-light)] text-white;
}

.overflow-y-auto::-webkit-scrollbar {
  padding: 0.625rem;
  margin: 0.625rem;
  width: 0.625rem;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: var(--color-darkgray);
  border-radius: 0.625rem;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: var(--color-purple-light);
  border-radius: 0.625rem;
}

.monaco-scrollable-element > .scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.border-notice-border {
  border-color: var(--color-notice-border);
}
.bg-color-notice {
  background-color: var(--color-notice);
}
